* { margin: 0; padding: 0; box-sizing: border-box; }

body {
  font-family: 'Poppins', sans-serif;
  background: radial-gradient(circle at top, #020617, #020617 40%, #0f172a 70%, #020617);
  color: #e5e7eb;
  line-height: 1.7;
}

canvas#particles {
  position: fixed;
  inset: 0;
  z-index: -1;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 10%;
}

.hero-text h1 {
  font-size: 3rem;
  font-weight: 700;
}

.hero-text h3 {
  font-weight: 400;
  color: #38bdf8;
  margin: 15px 0;
}

.hero-text p {
  max-width: 500px;
  color: #cbd5f5;
}

.hero-text span { color: #38bdf8; }

.hero-img img {
  width: 300px;
  border-radius: 25px;
  box-shadow: 0 0 50px rgba(56,189,248,0.45);
}

.socials {
  margin-top: 25px;
}

.btn {
  display: inline-block;
  margin: 5px 8px 0 0;
  padding: 10px 18px;
  border-radius: 30px;
  background: linear-gradient(135deg,#38bdf8,#6366f1);
  color: #020617;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s ease;
}

.btn:hover {
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 10px 25px rgba(56,189,248,0.4);
}

section {
  padding: 80px 10%;
  max-width: 1100px;
  margin: auto;
}

strong{
  font-size: larger;
  font-weight: 900;
  color: black;
  background-color: #FFFFE0;
}

h2 {
  font-size: 2.2rem;
  color: #38bdf8;
  text-align: center;
  margin-bottom: 40px;
}

.skill { margin-bottom: 20px; }
.skill label { display: flex; justify-content: space-between; font-size: 14px; }

.bar {
  background: rgba(255,255,255,0.1);
  height: 16px;
  border-radius: 20px;
  overflow: hidden;
}

.bar div {
  height: 100%;
  background: linear-gradient(90deg,#38bdf8,#6366f1);
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
  gap: 25px;
}

.project-card {
  padding: 25px;
  background: rgba(255,255,255,0.05);
  border-radius: 20px;
  text-align: center;
  backdrop-filter: blur(10px);
  transition: 0.3s;
}

.project-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}

form input, form textarea {
  width: 100%;
  margin-bottom: 12px;
  padding: 12px;
  border-radius: 8px;
  border: none;
}

button {
  background: linear-gradient(135deg,#38bdf8,#000000);
  border: none;
  color: yellow;
  padding: 12px 30px;
  border-radius: 30px;
  font-weight: 900;
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 25px;
  color: #94a3b8;
}

.button-container {
  position: relative;
  display: inline-block;
  margin: 20px;
}

.hover-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.hover-image {
  display: none;
  position: absolute;
  top: 100%; 
  left: 50%;
  transform: translateX(50%);
  margin-top: 10px;
  width: 50px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

/* Show image when hovering over the container */
.button-container:hover .hover-image {
  display: block;
}